[submodule "corpus"]
	path = experiments/fuzzing/in/corpus
	url = https://github.com/renatahodovan/quickjs-corpus.git
[submodule "quickjs"]
	path = experiments/fuzzing/quickjs
	url = https://github.com/bellard/quickjs.git
